@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	background: #58B19F;
	font-family: "Indie Flower";
}

h1 {
	margin-top: 10px;
	font-family: "Indie Flower";
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
}

.add {
	position: absolute;
	top: 20%;
	margin: 5%;
	width: 400px;
	height: 280px;
	border: solid 5px red;
}

.form1 {
	margin: 20px;
}

#moviename {
	position: absolute;
	top: 40%;
	font-size: 20px;
	width: 280px;
	border: solid yellow 4px;
	background: transparent;
}

.submit {
	position: absolute;
	top: 65%;
	font-size: 20px;
	border: solid yellow 4px;
	background: transparent;
}

input {
	padding: 7px;
	font-family: "Indie Flower";
}

#movies {
	width: 350px;
	height: 450px;
	border: red solid 4px;
	float: right;
	margin-right: 12%;
	overflow-y: auto;
}

#movies::-webkit-scrollbar {
    width: 12px;
}

#movies::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#movies::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
​

.boxm {
	margin-left: 20%;
}

.movies-titles {
	margin-left: 20%;
	margin-bottom: 10%;
	font-size: 20px;
	background: #e74c3c;
	border: none;
	text-align: center;
}

::placeholder {
	color: #b2bec3;
}